apiVersion: v1
kind: Namespace
metadata:
  name: blog-app
---
apiVersion: apps/v1
metadata:
  name: mongodb
  namespace: blog-app
spec:
  serviceName: mongodb
  replicas: 1
  selector:
    matchLables:
      app: mongodb
  template:
    metadata:
      lables:
        app: mongodb
    spec:
      containers:
        - name: mongodb
          image: mongo:8.2.4-noble
