name: Create kubernetes cluster
on : [workflow_call]
jobs:
  apply-terraform-infrastructure:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install terraform
        id: install-terraform
        run: sh ./Terraform/scripts/install-terraform.sh
      - name: Install KinD
        id: install-kind
        run: sh ./Terraform/scripts/install-KinD.sh
      - name: Apply Terraform 
        id: apply-terraform 
        working-directory: ./Terraform
        run: sh .terraform-apply.sh
      - name: Install argoCD
        id: install-argocd
        run: sh ./Manifest/argoCD/install-argocd.sh