name: Create kubernetes cluster
on : [workflow_call]
jobs:
  apply-terraform-infrastructure:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./Terraform
    steps:
      - uses: actions/checkout@v4
      - name: Install terraform
        id: install-terraform
        run: sh ./scripts/install-terraform.sh
      - name: Install KinD
        id: install-kind
        run: sh ./scripts/install-KinD.sh
      - name: Apply Terraform 
        id: apply-terraform 
        run: sh ./scripts/terraform-apply.sh